$blue: #2196f3;
$red: #f44336;
$green: #4caf50;
$light: #dddddd;

#loader {
  color: $blue;
}

.text-danger {
  color:  $red;
}
  
.text-success {
  color:  $green;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid $light;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $light;
}

.d-none {
  display: none;
}

.submitBtn {
  width: 90%;
}

.amountInput {
  width: 90%;
  margin-bottom: 5px;
}

.currencyName:hover {
  cursor: pointer;
  text-decoration: underline;
}

#homePage {
  padding: 20px;
}

.active {
  color:white;
  background-color: grey;
}